<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Add A Trip</title>
</head>
<body>
	<header>
		<a href="{% url 'travel:plans' %}"></a>
		<a href="{% url 'login:logout' %}">Logout</a>
	</header>
	<main>
	<h3>Add A Trip</h3>
	<form action="{% url 'travel:view_plans' %}" method="post">
		{% csrf_token %}
		<label for="destination">Destination:
			<textarea name="destination" rows="5" cols="40"></textarea>
		</label>
		<label for="description">Description:
			<textarea name="description" rows="5" cols="40"></textarea>
		</label>
		<label for="start_date">Travel Date From:
			<input type="date" name="start_date" max="2020-12-31">
		</label>
		<label for="end_date">Travel Date To:
			<input type="date" name="end_date" max="2020-12-31">
		</label>
		<input type="submit" value="Add" class="button">
	</form>
	</main>
		

</body>
</html>